@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './styles/varibles.scss';
@import './styles/breakpoints.scss';
@import './styles/navbar.scss';
@import './styles/landing.scss';
@import './styles/register.scss';
@import './styles/alert.scss';

::-moz-selection {
  background: $text1;
  color: $bg1;
}
::selection {
  background: $text1;
  color: $bg1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  overscroll-behavior: smooth;
  margin: 0;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media('<=1560px') {
    width: 1280px;
    min-width: 1280px;
  }
  @include media('<=desktop') {
    width: 1080px;
    min-width: 1080px;
  }
  @include media('<=1080px') {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media('<=phone') {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

//
