.dashboard {
  position: relative;
  h2 {
    font-size: 2.2rem;
    color: $bluetext;
    @include media('<=tablet') {
      font-size: 1.8rem;
    }
  }
  h4 {
    color: $bluetext;
    @include media('<=tablet') {
      font-size: 1rem;
    }
  }
  p {
    margin: 0;
    font-size: 1.5rem;
    color: $bluetext;
  }
  .dash-btn,
  .edu-btn,
  .exp-btn {
    height: 40px;
    border: 2px solid $browntext;
    background-color: $browntext;
    color: white;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s all;
    &:hover {
      background-color: $brownbg;
      color: $browntext;
    }
  }
  .dash-btn {
    margin-right: 20px;
    @include media('<=tablet') {
      width: 70%;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      margin: 5px 0;
    }
  }
  table {
    font-size: 1.2rem;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    thead {
      th {
        height: 40px;
        background-color: $browntext;
        color: white;
        padding: 0 50px;
      }
    }
    tbody {
      font-size: 1rem;
      td {
        padding: 5px 0px;
        button {
          margin: 0 20px;
        }
      }
    }
  }
  .delete-acc {
    button {
      height: 40px;
      border: 2px solid $red;
      background-color: $red;
      color: white;
      padding: 0 20px;
      font-size: 1rem;
      font-weight: 600;
      transition: 0.3s all;
      &:hover {
        background-color: transparent;
        color: $red;
      }
      margin: 20px 0;
      @include media('<=tablet') {
        width: 100%;
        text-align: center;
        width: 100%;
      }
    }
  }
}
