nav {
  background-color: $brownbg;
  height: 12vh;
  border-bottom: 1px solid $accent;
  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include media('<=tablet') {
      justify-content: center;
    }
    .nav-brand {
      text-decoration: none;
      color: $browntext;
      font-size: 2.5rem;
      font-weight: 500;
    }
    .nav-links {
      display: flex;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        color: $bluetext;
        margin-left: 50px;
        @include media('<=tablet') {
          display: none;
          font-size: 0.8rem;
          font-weight: 500;
          color: $bluetext;
          margin-left: 10px;
        }
        &:hover {
          color: $browntext;
        }
        i {
          margin: 0 5px;
          @include media('<=tablet') {
            display: none;
          }
        }
      }
    }
  }
}
